<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>RostroApp</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="relative bg-gray-100 text-gray-800 bg-cover bg-center bg-no-repeat min-h-screen"
      style="background-image: url('https://plus.unsplash.com/premium_photo-1683121710572-7723bd2e235d?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">

    <div class="relative z-10">
        <!-- Navbar -->
        <nav class="bg-gray-800 p-4 rounded-b-xl shadow-lg">
          <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'landing' %}" class="text-white font-bold text-xl">RostroApp</a>
            <div>
              <a href="{% url 'landing' %}" class="text-gray-300 hover:text-white px-3 py-2 rounded">Inicio</a>
              <a href="{% url 'index' %}" class="text-gray-300 hover:text-white px-3 py-2 rounded">Generador</a>
              <a href="{% url 'galeria' %}" class="text-gray-300 hover:text-white px-3 py-2 rounded">Galería</a>
            </div>
          </div>
        </nav>

        <!-- Contenido principal -->
        <div class="container mx-auto mt-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>